@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
// @import './element-ui.scss';
@import './sidebar.scss';

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}
